.carousel-container {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
//   margin: 10px 0;
}

.pokemon-section{
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
    
}

.view-more{
    margin-top:30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: right;
    display: flex;
    padding: 0 10px;
}


