/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-image: url('assets/pokemon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.pokemon-item{
  width: 19%;
  background-color: #f2f2f2;
  height: 200px;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
  box-shadow: 5px 5px #726c6c;
  position: relative;
  p{
      color: #000000fc;
      position: absolute;
      bottom: 3px;
      text-align: center;
      width: 100%;
  }
}