.menu{
    background-color: rgba(0,0,0,.6);
    height: 200px;
    width: 100%;
    margin-top: 20px;
    .container{
        display: flex;
    }

    .menu-item-container{
        display: flex;
        font-size: 30px;
        color: white;
        width: calc(100% - 200px);
        button{
            align-content:space-between;
            width: 25%;
            text-align: center;
            line-height: 200px;
            background-color: unset;
            color: white;
            border: unset;
            font-size: 30px;
        }
       
    }
}

@media (max-width:1000px) {
    .menu-item-container{
        button{
            font-size: 20px;
        }
    }          
}